<% content_for :header do %>
    <title> Edit Profile </title>
    <%# <link rel="stylesheet" href="/assets/user/edit_profile.css">  %>
    <%= stylesheet_link_tag '/assets/user/edit_profile' %>
<% end %>
<%= content_for :script_link do %>
    <%= javascript_pack_tag 'update_account', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container">
  <div class="row edit__container py-3">
    <div class="edit__header">
        <h3 class="edit__header_title"> Edit User Profile </h3>
            <%= link_to 'Back', users_path, class: "btn btn_primary edit__header__back__button"%>
    </div>
    <div class="seperator">
    </div>
    <%= form_with(model: @user, local: true, class: "edit__form mt-2", id: "form_photo") do |f| %>
      <div class="form-inline">
          <div class="col-sm-5"></div>
          <div class="edit_avatar col-sm-7 col-12">
              <div class="edit__avatar__image">
                    <%= image_tag(@user.avatar_url, alt: "avatar", class: "img-fluid") if @user.avatar? %>
                    <%= f.file_field :avatar, id: "btn_open_file" %>
                    <%= f.hidden_field :avatar_cache %>
                    <%#= image_tag "Photos/colorize_cat_image.jpg", alt: "avatar", class: "img-fluid" %>
                    <span id="btn__change_avatar"> Change </span>
              </div>
          </div>
      </div>
      <div class="edit__user__infor">
          <div class="form-inline">
              <label class="col-sm-5 col-12" for="first_name">  </label>
              <div class="col-sm-7 col-12">
                  <span class="edit_infor_title col-sm-7 col-12 "> Basic information </span>
              </div>
          </div>
          <div class="form-inline">
              <%= f.label :first_name, class: "col-sm-5 col-12" %>
              <%= f.text_field :first_name, class: "col-sm-7 col-12 form-control", placeholder: "First Name" ,readonly: true %>
          </div>
          <div class="form-inline">
              <%= f.label :last_name, class: "col-sm-5 col-12" %>
              <%= f.text_field :last_name, class: "col-sm-7 col-12 form-control", placeholder: "Last Name",readonly: true  %>
          </div>
          <div class="form-inline">
              <%= f.label :email, class: "col-sm-5 col-12" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-7 col-12 form-control",readonly: true  %>
          </div>

        <div class="form-inline">
            <%= f.label :password, class: "col-sm-5 col-12" %> 
            <%= f.password_field :password, autocomplete: "password", class: "col-sm-7 col-12 form-control", placeholder: "**********",readonly: true  %>
        </div>
        <div class="form-inline">
            <%= f.label :status, 'Active?', class: "col-sm-5 col-12" %>
            <div class="col-sm-7 col-12">
                <%= check_box_tag 'active', 'active', true, id: 'edit_active' %>
                <%#= f.check_box :status, id: "edit_active" %>
                <%# <input id="edit_active" type="checkbox" name="active"> %>
            </div>
        </div>

          <div class="form-inline">
              <div class="col-sm-5">
              </div>
              <div class="col-sm-7 col-12 mt-2">
                  <%= f.submit "Save", class: " btn btn-success" %>
              </div>
          </div>

      </div>
      <div class="form-inline">
            <% if @user.errors.any? %>
                <ul class="list-unstyled row w-100 mb-0 mt-3">
                <% @user.errors.full_messages.each do |message| %>
                    <li class="error col-12 col-sm-8 offset-sm-4"><%= message %></li>
                <% end %>
                </ul>
            <% end %>
      </div>
    <% end %>

  </div>
</div>




