<% content_for :header do %>
    <%= stylesheet_link_tag 'user/feed_photos'%>
    <%#= stylesheet_link_tag 'index'%>
    <title> Home page </title>
<% end %>
<div class="container">
    <% if user_signed_in? %>
        <div id="header__photo__list">
            <div class="header__button">
                <button class="btn btn_primary"> PHOTO</button>
                <%= link_to 'ALBUM', feed_albums_path, class: "btn btn_primary_white"%>
            </div>
        </div>
    <% end %>
    <div class="row feed-list py-3">
      <% @photos.each do |photo| %>
            <div class="col-lg-6 col-12 feed__item">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper" data-toggle="modal" data-target="#modal_photo_infor" >
                            <%= image_tag(photo.image_url, alt: 'Card image', class: 'card-image') %>
                        </div>
                        <div class="card-body">
                            <div class="feed__author">
                            <% @user = User.find(photo.user_id) %>
                                <span class="feed__author-avatar"> <%= @user.first_name[0] << @user.last_name[0] %>  </span>
                                <span class="author_name"> <%= @user.first_name << " " << @user.last_name %> </span>
                            </div>
                            <h4 class="card-title feed__title"> <%= photo.title %></h4>
                            <p class="card-text feed__description"> <%= photo.description %> </p>
                            <div class="feed__footer">
                                <div class="feed__like">
                                    <span>
                                        <i class="fa fa-heart"></i>
                                        1999
                                    </span>
                                </div>
                                <div class="feed__time">
                                    17/07/2020
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Modal -->
        <section id="modal__photo" aria-label="section for modal">
            <div class="modal fade" id="modal_photo_infor" tabindex="-1" role="dialog" aria-labelledby="modal_photo_inforTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modeal__photo__title"><%= photo.title %> </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modal__photo__body">
                                <%= image_tag photo.image_url, class: "modal__photo__image" %>
                                <p class="modal_photo_description"> <%= photo.description %></p>
                            </div>
                        </div>
                        <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
                    </div>
                </div>
            </div>
        </section>
    <% end %>
    </div>

    <%= paginate @photos %>

</div>