 <% content_for :header do %>
    <title> Edit Profile </title>
    <%# <link rel="stylesheet" href="/assets/user/edit_profile.css">  %>
    <%= stylesheet_link_tag 'admin/manager_users' %>
<% end %>
 <div class="container">
     <div class="row feed-list py-3">
        <div class="table-responsive list__users">
            <table class="table-light table_users ">
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Last Login</th>
                    <th></th>

                </thead>
                <tbody>
                    <tr>
                        <td colspan="5">
                            <hr>
                        </td>
                    </tr>
                    <% @users.each do |user| %>
                        <tr>
                            <td><%= user.first_name %></td>
                            <td> <%= user.last_name %> </td>
                            <td> <%= user.email %> </td>
                            <td> <%= user.last_sign_in_at %> </td>
                            <td>
                                <%= link_to 'Edit', edit_user_path(user), class: "btn btn-success" %>
                                <%= link_to 'Delete', user, method: :delete, data: {confirm: 'Are you sure' }, class: "btn btn-danger" %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <%= paginate @users %>

    </div>
</div>