<%= content_for :header do %>
    <%= stylesheet_link_tag 'login'%>
    <title> Log in </title>
<% end %>
<%= content_for :script_link do %>
    <%= javascript_pack_tag 'sign_in', 'data-turbolinks-track': 'reload' %>
<% end %>
<div class="container">
  <div class="login__form">
    <h3 class="login__form-title"> Fotobook Login </h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {
        class: "login__form-body", id: "login_form"
        }  ) do |f| %>
      <div class="form__img">
          <i class="fas fa-user-slash"></i>
      </div>
      <div class="login__form-main">
      
        <div class="login__form-input">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Your Email" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
          <%# <input class="form-control" name="txt_email" type="email" placeholder="Email"> %>
          <%# <input class="form-control" name="txt_password" type="password" placeholder="Password"> %>
          <% if alert %>
            <p class="error"><%= alert %></p>
          <% end %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field mr-auto mt-1">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
  
        <%# <button class="btn login__form-btn"> Login </button> %>
        <%= f.submit "Login", class: ["btn", "login__form-btn"] %>
        <%# <a class="form-link">Forgot password?</a> %>
      </div>
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: "signup_link form-link mb-2" %>
    <% end %>
    <%= link_to "Sign up", new_registration_path(resource_name), class: "signup_link form-link" %>

    <%# <a class="signup_link form-link" href="signup.html">Create an account</a> %>
  </div>
</div>

