<% content_for :header do %>
    <title> My Photo </title>
    <%# <link rel="stylesheet" href="/assets/user/edit_profile.css">  %>
    <%= stylesheet_link_tag 'user/my_photo' %>
<% end %>

 <div class="container">
    <%= btn_add_new  'Add New Photo', new_photo_path %>
    <div class="row feed-list py-3">                
      <% @photos.each do |photo| %>
              <div class="photo">
                <div class="photo__status">
                    <span class="ellipsis"> <%= photo.title %></span>
                   <%= link_to edit_photo_path(photo) do %>  
                         <i class="far fa-edit"></i>
                    <% end %>
                </div>
                <div class="photo__image" data-toggle="modal" data-target="#modal_photo_infor">
                    <%= show_private_icons(photo) %>
                    <%= image_tag(photo.image_url, alt: "avatar", class: "img-fluid") %>
                </div>
            </div>
         <!-- Modal -->
        <section id="modal__photo" aria-label="section for modal">
            <div class="modal fade" id="modal_photo_infor" tabindex="-1" role="dialog" aria-labelledby="modal_photo_inforTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modeal__photo__title"><%= photo.title %> </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modal__photo__body">
                                <%= image_tag(photo.image_url, class: "modal__photo__image" ) %>
                                <p class="modal_photo_description"> <%= photo.description %></p>
                            </div>
                        </div>
                        <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
                    </div>
                </div>
            </div>
        </section>
      <% end %>
    
    <%= paginate @photos %>
    
    </div>
</div>